html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-image: url('../images/wood.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 5, 0.65);
    z-index: -1; 
}

body {
    background-color: transparent;
    color: #c5e8f4;
    margin-top: 30px;
    margin-bottom: 60px;
}

.content {
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #CC99FF;
}

.content-heading {
    text-align: center;
    text-decoration: underline;
    font-weight: 200;
}

#responseContent {
    margin-top: 15px;
    white-space: pre-wrap;
}

#ingredientsForm {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.ingredient {
    display: ruby-text;
    margin-bottom: 5px;
}

    .ingredient input[type="text"] {
        width: 200px;
        padding: 5px;
        margin-right: 5px;
    }

    .ingredient:first-child input[type="text"] {
        margin-right: 0px;
    }

button.deleteIngredient, button.addIngredient {
    width: 30px;
    height: 34px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    align-content: center;
    padding: 0px;
}

.deleteIngredient {
    background-color: #CC99FF;
    color: #c5e8f4;
    padding: 5px 10px;
    margin-right: 5px;
}

.ingredient:first-child .deleteIngredient {
    margin-left: 1px;
    margin-right: 1px;
}

.addIngredient {
    background-color: #336699;
    color: #c5e8f4;
}

.deleteIngredient:hover {
    background-color: #B183E6;
}

.addIngredient:hover {
    background-color: #285682;
}

input[type="submit"] {
    margin-top: 5px;
    background-color: #336699;
    color: #c5e8f4;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #285682;
}

.text-muted {
    color: #c5e8f4!important;
}

.border-top {
    border-top: none!important;
}