@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PantryMix!</h1>
    <p>Enter your ingredients below to find out what new dishes you can make!</p>
</div>
